In [40]:
import pandas as pd
import scipy.stats

telecom_df=pd.read_csv('Telco_Customer_Churn_Data.csv')

telecom_df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [42]:
telecom_df.dtypes
telecom_df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [49]:
# creating a data frame for checking the percentage of missing values

missing_value_percentage_df=pd.DataFrame({'Column_Name':telecom_df.columns,
                                          'Missing_value_count':telecom_df.isnull().sum(),
                                          'Missing_value_percentage':telecom_df.isnull().sum()/telecom_df.shape[0]*100})

missing_value_percentage_df=missing_value_percentage_df.sort_values(by='Missing_value_percentage',ascending=False)

missing_value_percentage_df.columns

Index(['Column_Name', 'Missing_value_count', 'Missing_value_percentage'], dtype='object')

In [50]:
# dropping all the columns with missing vlaues > 50 % and 
# columns with unique values ever record and columns with same value with every record
cols_to_drop=[]

cols_with_na_grt_50=list(missing_value_percentage_df[missing_value_percentage_df['Missing_value_percentage']>50].index)

for col in telecom_df.columns:
    if telecom_df[col].nunique()==telecom_df.shape[0] or telecom_df[col].nunique()==1:
        cols_to_drop.append(col)
        
columns_to_drop=cols_to_drop+cols_with_na_grt_50

telecom_df.drop(columns=columns_to_drop,inplace=True)

In [51]:
telecom_df['TotalCharges']=pd.to_numeric(telecom_df['TotalCharges'],errors='coerce')
#telecom_df.dtypes
telecom_df['SeniorCitizen']=telecom_df['SeniorCitizen'].astype(object)

In [52]:
telecom_df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [53]:
telecom_df['TotalCharges'].fillna(0,inplace=True)

In [54]:
cat_cols =  [key for key in dict(telecom_df.dtypes) if dict(telecom_df.dtypes)[key] in ['object']]
cont_cols = [key for key in dict(telecom_df.dtypes) if dict(telecom_df.dtypes)[key] not in ['object']]

In [55]:
cat_cols

['gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Churn']

In [56]:
cont_cols

['tenure', 'MonthlyCharges', 'TotalCharges']

In [93]:
telecom_df['Churn'].replace('Yes',1,inplace=True)

KeyError: 'Churn'

In [58]:
telecom_df['Churn'].replace('No',0,inplace=True)

In [60]:
telecom_df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,0
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,0
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,0
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,0
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,1
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,0

In [63]:
# To identify the corelation between catagorical variables and continous variable
#ANOVA
import scipy.stats as stats
def anova(col):
    #categories=telecom_df[col].unique()
    return stats.f_oneway(telecom_df[col],telecom_df['Churn'])[1]

In [64]:
anova_df=pd.DataFrame({'Column_Name':cont_cols,'p_value':[anova(col) for col in cont_cols ]})
anova_df
#The below value is zero that means it is extremly corelated

      Column_Name  p_value
0          tenure      0.0
1  MonthlyCharges      0.0
2    TotalCharges      0.0

In [67]:
# removing the output variable from the dataframe

y=telecom_df['Churn']

telecom_df.drop(columns='Churn',inplace=True)

In [69]:
cat_cols.remove('Churn')

In [70]:
#The chi-square test tests the null hypothesis that compares the correlation between categorical variables
pvalues_list=[]
for col in cat_cols:
    contengency_table = pd.crosstab(telecom_df[col],y)
    result=scipy.stats.chi2_contingency(contengency_table)
    pvalues_list.append(result[1])

In [72]:
p_values_df=pd.DataFrame({'Column_name':cat_cols,'p_value':pvalues_list})

In [73]:
p_values_df
# values <0.05 is correlated and > 0.05 is not correlated(eg:Gender,phoneService), if we want we can drop the not correlated columns

         Column_name        p_value
0             gender   4.865787e-01
1      SeniorCitizen   1.510067e-36
2            Partner   2.139911e-36
3         Dependents   4.924922e-43
4       PhoneService   3.387825e-01
5      MultipleLines   3.464383e-03
6    InternetService  9.571788e-160
7     OnlineSecurity  2.661150e-185
8       OnlineBackup  2.079759e-131
9   DeviceProtection  5.505219e-122
10       TechSupport  1.443084e-180
11       StreamingTV   5.528994e-82
12   StreamingMovies   2.667757e-82
13          Contract  5.863038e-258
14  PaperlessBilling   4.073355e-58
15     PaymentMethod  3.682355e-140

In [79]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(telecom_df,y,test_size=0.2,random_state=43)

In [80]:
import warnings
warnings.filterwarnings('ignore')

In [81]:
#minmax scaling for continuous columns
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

minmaxscale = MinMaxScaler()
#stdscale = StandardScaler()
for col in cont_cols:
    X_train[col]= minmaxscale.fit_transform(np.array(X_train[col]).reshape(-1,1))
    X_test[col] = minmaxscale.transform(np.array(X_test[col]).reshape(-1,1))
    
# below are the warnings, you can ignore

In [82]:
one_hot_train=pd.get_dummies(X_train[cat_cols]) # one-hot encoding
one_hot_test=pd.get_dummies(X_test[cat_cols]) # one-hot test

In [84]:
#ensuring that noof category columns are same using inner join
X_train_oe,X_test_oe=one_hot_train.align(one_hot_test,join='inner',axis=1,fill_value=0)

In [85]:
#merging the one hot encoded train data with the continous data
X_train_final=pd.concat([X_train[cont_cols],X_train_oe],axis=1)
X_train_final

,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
6837,0.083333,0.611443,0.057296,0,1,0,1,1,0,1,...,0,1,0,0,0,1,0,0,1,0
5486,0.750000,0.685075,0.545228,0,1,1,0,1,0,1,...,1,0,0,1,1,0,1,0,0,0
5536,0.125000,0.163682,0.034094,0,1,1,0,1,0,1,...,0,1,0,0,0,1,0,1,0,0
156,0.305556,0.655721,0.209786,1,0,1,0,1,0,1,...,0,1,0,0,0,1,1,0,0,0
1775,0.902778,0.903483,0.818464,0,1,0,1,1,0,1,...,1,0,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6202,0.291667,0.589552,0.187109,0,1,1,0,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2325,0.055556,0.016915,0.009545,1,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
2303,0.027778,0.294030,0.010645,0,1,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
3392,0.805556,0.257214,0.277848,1,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
5956,0.430556,0.712935,0.323197,1,0,1,0,1,0,1,...,1,1,0,0,0,1,0,0,1,0

In [86]:
#merging the one hot encoded test data with the continous data
X_test_final=pd.concat([X_test[cont_cols],X_test_oe],axis=1)
X_test_final

,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
1826,0.902778,0.720398,0.682917,0,1,1,0,0,1,1,...,1,1,0,0,0,1,0,0,1,0
2342,0.416667,0.877114,0.369830,1,0,1,0,1,0,1,...,1,1,0,0,1,0,1,0,0,0
6901,0.416667,0.504478,0.234743,1,0,1,0,1,0,1,...,0,0,1,0,0,1,0,1,0,0
972,0.805556,0.515920,0.466211,0,1,1,0,1,0,1,...,0,0,0,1,1,0,1,0,0,0
4281,0.694444,0.166667,0.205232,0,1,1,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1528,0.263889,0.377612,0.125898,1,0,1,0,1,0,1,...,1,1,0,0,0,1,0,0,1,0
1355,0.125000,0.012438,0.020593,1,0,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
1369,0.458333,0.424378,0.234185,1,0,1,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1
1189,0.041667,0.671144,0.029563,0,1,1,0,1,0,1,...,1,1,0,0,1,0,0,1,0,0
2621,0.986111,0.605473,0.640757,0,1,1,0,0,1,1,...,1,0,0,1,0,1,0,1,0,0

In [87]:
# Training the logistic regression model due to clasification probelm
from sklearn.linear_model import LogisticRegression

logreg=LogisticRegression()
logreg.fit(X_train_final,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [88]:
# Predections on the test data
logreg_pred=logreg.predict(X_test_final)

In [91]:
# evaluate the model performance
from sklearn.metrics import confusion_matrix,f1_score,recall_score,precision_score

confusion_matrix(y_test,logreg_pred)

array([[934, 105],
       [162, 208]], dtype=int64)

In [94]:
y_test

1826    0
2342    0
6901    0
972     0
4281    0
       ..
1528    0
1355    0
1369    0
1189    0
2621    0
Name: Churn, Length: 1409, dtype: object

In [96]:
# below we got the results of 60% which is not a great model, need to improve the model
print('Precision-Score',precision_score(y_test,logreg_pred,pos_label='1'))
print('Recall-Score',recall_score(y_test,logreg_pred,pos_label='1'))
print('F1-Score',f1_score(y_test,logreg_pred,pos_label='1'))

Precision-Score 0.6645367412140575
Recall-Score 0.5621621621621622
F1-Score 0.6090775988286969

In [97]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()

dtc.fit(X_train_final,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [98]:
dtc_pred=dtc.predict(X_test_final)

In [99]:
print('Precision-Score',precision_score(y_test,dtc_pred,pos_label='1'))
print('Recall-Score',recall_score(y_test,dtc_pred,pos_label='1'))
print('F1-Score',f1_score(y_test,dtc_pred,pos_label='1'))

Precision-Score 0.4801980198019802
Recall-Score 0.5243243243243243
F1-Score 0.5012919896640826